:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'farro', sans-serif;
    background-color: lightgray;
    /*display: flex;*/
    /*flex-direction: column;*/
}


.outer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-content: space-around;*/
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
}

button {
    font-family: 'farro', sans-serif;
    height: 30px;
    width: 60px;
    border-color: transparent;
    border-radius: 2px;
}

h1 {
    color: whitesmoke;
}

h2:first-letter,
h4:first-letter {
    text-transform: capitalize;
}

main {
    width: 30%;
    align-self: center;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

input {
    background-color: yellow;
    height: 30px;
    border-color: transparent;
    border-radius: 2px;
}